<%-include ("partial/header")-%>



  <div class="top-container aligner">
    <img class="top-cloud" src="Immagini/cloud.png" alt="cloud-img">
    <h1>I'm Oscar Kevin</h1>
    <h2></h> a <span class="linea">pro</span>grammer </span></h2>
    <img class="bottom-cloud" src="Immagini/cloud.png" alt="cloud-img">
    <img src="Immagini/mountain.png" alt="mountain-img">
  </div>


  <div class="middle-container aligner">

      <img class="immprof moredownspace" src="Immagini/immprof.png" alt="immprof">
      <div class="row">
      <h2 class="">Chi sono?</h2>
      <p class="normal-text moredownspace">Salve, sono Oscar Kevin Monte (simpatica vero l'immagine del monte di sopra per indicare il mio cognome? ), <br>
        Nato a Taormina(ME) il 15/05/1993, sono da sempre un appassionato del mondo dell'informatica. <br>
      </p>
    </div>


    <div class="skills">
        <div class="row">
      <h2 class=""> Studi effettuati</h2>

        <p class= "normal-text moredownspace">Diplomato presso L' I.T.I.S E.Fermi di Giarre , e conseguita la nomina di perito informatico, <br>
        dopo un periodo di pausa, causa lavoro, intraprendo lo studio presso l' Università degli studi di Catania, ove conseguo
        la laurea di primo livello (triennale) in informatica.
       </p>
      </div>

    </div>

    <div class="skills">
        <div class="row">
      <h2>Attestati</h2>
      <div class="">
        <p class= "normal-text moredownspace"> <strong>Cisco Accademy:</strong> IT Essential One, Discovery 1 <br> <strong>IBM Italia Spa:</strong> Central System knowledge
       </p>
      </div>
  </div>
  </div>

  <div class="skills">
      <div class="row">
    <h2>Passioni</h2>
    <div class="">
      <p class= "normal-text moredownspace"> Programmazione, videogames, viaggi, lettura.
     </p>
    </div>
</div>
</div>

<div class="skills">
    <div class="row">
  <h2>Curriculum</h2>
  <div class="">
    <p class= "normal-text moredownspace"> Sul sito puoi trovare un po' di tutto su di me, ma ecco comunque il mio Curriculum: <a href="Immagini/cloud.png"download>CV </a>
   </p>
  </div>
</div>
</div>

  <%-include ("partial/footer")-%>
