<%-include ("partial/header")-%>

<div class="container-fluid top-container aligner ">
<img class="skillimm moredownspace" src="Immagini/businessman.png " alt="skill-logo">
<h3 class="moredownspace "><strong>Esperienze Lavorative</strong></h3>
<p> <strong> La Tenda Arreda: </strong> Installatore, manutentore Tende da sole, zanzariere, avvolgibili, Veneziane (2011-2015 / 2021) </p>
<p> <strong> Paradise Beach:</strong> operaio, addetto al montaggio e smontaggio della struttura balneare (2016-2017) </p>
<p> <strong> Tutor : </strong> Figura Tutor e supporto per l'attività di laborario di grafica Blender 3D presso l' accademia delle belle arti di Catania(2018-2019)</p>
<p> <strong> Eclittica Organizzazioni eventi: </strong> Tecnico luci, Disposizioni strutture, Trasporto  e magazzino (2020)  </p>
<p class="moredownspace"> <strong> Freelance: </strong> Sviluppo siti vetrina, Bot Telegram, Siti per Server discord (2020/2021)  </p>




<%-include ("partial/footer")-%>
