<%-include ("partial/header")-%>



<div class="container-fluid top-container aligner ">
<img class="skillimm" src="Immagini/languages.png" alt="skill-logo">
<h3><strong>Lingue</strong></h3>
<p class="moredownspace"> <strong> lingua madre:  </strong> Italiano</p>
<p> <strong> Altre lingue: </strong> Inglese </p>
<p> <strong> Ascolto :</strong> B2 (avanzato)</p>
<p> <strong> Lettura:</strong> C1 (elevato)</p>
<p> <strong> Parlato: </strong>B2 (avanzato)</p>
<p> <strong> Scrittura : </strong>B2 (avanzato)</p>
<p class="moredownspace"> <strong> Capacità di dialogo: </strong>C1 (elevato) </p>

</div>
<%-include ("partial/footer")-%>
