<%-include ("partial/header")-%>

<div class="container-fluid top-container aligner ">
<img class="skillimm" src="Immagini/tools-and-utensils.png" alt="skill-logo">
<h3><strong>Linguaggi conosciuti & Framework/Librerie/DB</strong></h3>
<p> <strong> Linguaggi: </strong> C, C++, C#, Javascript, php , assembly, Phyton</p>
<p> <strong> Altri linguaggi:</strong> JAVA, VB </p>
<p> <strong> Linguaggi di markup:</strong> Html</p>
<p> <strong> Linguaggi di formattazione:</strong> css</p>
<p> <strong> Linguaggi template: </strong>EJS</p>
<p> <strong> Run-time system : </strong>Node. js</p>
<p> <strong> Framework: </strong>Express</p>
<p > <strong> Librerie: </strong> jQuery, React.js</p>
<p > <strong> Databases: </strong>MariaDB, Mysql, MongoDB</p>
<p class="moredownspace"> <strong> Git/Github: </strong>Conoscenza del funzionamento di git e github</p>

</div>

<div class="container-fluid aligner middle-container ">
  <img class="skillimm" src="Immagini/software.png" alt="skill-logo">
  <p><strong>Sofware usati:</strong></p>



 <p>  Processing (JAVA) </p>


  <p class="moredownspace">Unity (C#)</p>


  <p><strong>Altri software utilizzati:</strong></p>
  <p class="moredownspace">Grafica 3D con Blender. (Modellazione,texturizzazione,Animazione), Import su Unity</p>

  <p><strong>Sistemi operativi utilizzati:</strong></p>
    <p>Windows </p>
    <p>Linux mint, ubuntu (e light versions), CentOs</p>
    <p>Raspbian </p>

</div>

<%-include ("partial/footer")-%>
