<%-include ("partial/header")-%>
<div class="container-fluid top-container aligner ">
  <img class="skillimm" src="Immagini/working.png" alt="skill-logo">
<h1 class="moredownspace">I miei progetti</h1>
<h3 class="moredownspace">Ogni lavoro (siti compresi) è stato creato da zero senza l'utilizzo di Template</h3>
<p><a href="http://reportedgamers.herokuapp.com/" target="_blank"> Reported Gamers (sito)</a></p>
<p><a href="https://mega.nz/file/Z0MXwSAY#ewSec64kl-P9uP2IsT7Tif379nlF9mYQeLvDNsa6l1w " target="_blank" >The Run skip the edges (videogame 2D, Processing, Java)</a></p>
<p><a href="https://mega.nz/file/s5VWBKxD#IECrWRfikw62cekqlsrnUQHsVb_Va2Nk_X-WDVLQooA" target="_blank" >SpaceWar (videogame 3D, Unity C# )</a></p>
<p><a href="https://github.com/Raxo1993/Simon-Game.git" target="_blank"> Simon  (Web game, Git repository )</a></p>
<p><a href="https://github.com/Raxo1993/Wheater" target="_blank"> Meteo   (Web app, Git repository )</a></p>
<p><a href="https://github.com/Raxo1993/todolist" target="_blank"> To do List   (Web app, Git repository )</a></p>



<%-include ("partial/footer")-%>
