<div class="contact-me aligner morePaddingTop">
  <h2>Hai qualcosa da chiedermi?</h2>
  <h3>Sentiti libero/a di contattarmi.</h3>
  <p class= "normal-text">Puoi mandarmi direttamente una mail </p>

  <a class="BUTTON_RVW" href="mailto:okm1993.om@gmail.com">Contatto email</a>
</div>
</div>

<section id="contatti">


<div class="bottom-container aligner">
<a class="footer-link" href="https://t.me/Oscarkevin" target="_blank">Telegram</a>
<a class="footer-link" href="https://www.instagram.com/_oscarkevin_/" target="_blank">Instagram</a>
<a class="footer-link" href="mailto:okm1993.om@gmail.com">Gmail</a>
<p class= "normal-final">© 2022 Oscar Kevin Monte.</p>
</div>
</section>




</div>

</body>

</html>
